<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        The Tech Blog
      </h1>
      <nav class="nav">
        {{#if logged_in}}
        <a href="/" style="color: rgb(19, 131, 141)">Home</a>
        <a href="/profile" style="color: rgb(19, 131, 141)">Dashboard</a>
        <button class="logout-button" id="logout">Logout</button>
        {{else}}
        <a href="/" style="color: rgb(19, 131, 141)">Home</a>
        <a href="/profile" style="color: rgb(19, 131, 141)">Dashboard</a>
        <a href="/login" style="color: rgb(19, 131, 141)">Login</a>
        <a href="/signup" style="color: rgb(19, 131, 141)">Signup</a>
        {{/if}}
      </nav>
    </header>
      <main class="container container-fluid mt-5">
     {{{ body }}}
      </main>
  </div>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  </body>

</html>

