{{!-- from main.handlebars in MVC activity #2 --}}
<!-- Add a comment indicating how this file fits into the MVC framework (is it a Model, a View, or a Controller?) and what it is responsible for handling. -->
<!-- This file is part of the View. It handles UI/UX concerns (layout and display)-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <a href="/">Tech Blog</a>
      </h1>
      <nav>
        {{#if logged_in}}
        <a href="/profile">Dashboard</a>
        <a href="/">Home</a>
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/">Home</a>
        <a href="/profile">Dashboard</a>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
        {{/if}}
      </nav>
    </header>
      <main class="container container-fluid mt-5">
      {{!-- see  activity #24 main.handlebars for how to display
      logout button only if user is logged in--}}
     {{{ body }}}
      </main>
  </div>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  </body>

</html>

<!-- Add a comment describing what the following line of code is doing. -->
      <!-- The following line is a place holder for where the main content will be rendered. -->
      <!-- What should we expect to see when visiting http://localhost:3001/ in the browser? -->
      <!-- We would expect to see the contents of all.handlebars in the browser, 
			because that is what we are instructing it to render in dish-routes.js. -->
            {{!-- body below is where other handlebars files get inserted (see main.handlebars in activity #2) --}}
     {{!-- body is a reserved word and means we're going to inject in the handlebar template from
     somewhere else. Need triple brackets when you are injecting html itself that needs to be
     parsed before it can be inserted --}}
