{{!-- based on all.handlebars in activity #5 MVC --}}
<div class="blog-container">
    <div class="card-header col-md-10">
        <h2>
            All Blog Entries
        </h2>
    </div>
    {{#each blogs as |blog|}}
    <div class="blog col-md-5">
        <p>
            {{blog.id}}.{{blog.title}}
        </p>
    </div>
    <div class="col-md-7">
        <p>
            {{!-- guest_name will eventually go here --}}
        </p>
    </div>
    {{/each}}
</div>