{{!-- I moved this to profile.handlebars so
I think this file can be deleted --}}
{{!-- <div id="{{id}}" class="blog-id text-center">
    <h2>
        Update Blog Entry
    </h2>
        <form class="form-group update-blog">
            <div class="form-group update-blog-title">
                <label for="blog-title">Updated blog entry title:</label>
                <br/>
                <textarea class="form-input" type="text" id="blog-title" name="update-blog-title">
                    {{title}}
                </textarea>
                <br/>
            </div>
            <div class="form-group blog-content">
                <label for="blog-content">Updated blog content:</label>
                <br/>
                <textarea class="form-input" id="blog-content" name="blog-content">
                    {{content}}
                </textarea>
                <br/>
            </div>
             <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit Updated Blog Entry</button>
            </div>
        </form>

<script src="/js/profile.js"></script> --}}
    

