<div class="blog-card">
    <div class="blog-card-header">
        {{title}}
    </div>
    <div class="card-body">
        <p>Content: {{content}}</p>
    </div>
</div>

{{!-- "title": "Tech Blog Entry 1",
"content": "Information on..." --}}
{{!-- see MVC activity #3 --}}
{{!-- for an array of blogs, see recording on
8-8-23 at 1:11 mark --}}