* {
  background-color: darkgray;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-family: "Gill Sans", sans-serif;
  color: white;
  font-size: 50px;
  text-align: left;
  padding-bottom: 30px;
  padding-top: 20px;
}

h2 {
  font-family: "Gill Sans", sans-serif;
  color: white;
  font-size: 30px;
  padding: 5px;
}

nav {
  font-family: "Gill Sans", sans-serif;
  color: white;
  font-size: 30px;
  /* padding: 5px; */
  padding: 20px 20px;
}

nav a {
  padding: 20px 20px;
  text-decoration: none;
  text-align: center;
}

textarea {
  font-family: "Gill Sans", sans-serif;
  color: white;
  font-size: 20px;
  overflow: auto;
}

.btn {
  text-align: center;
  display: inline-block;
  font-size: 20px;
  color: rgb(2, 46, 43);
}

.card {
  font-family: "Gill Sans", sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.card img {
  height: 100%;
  min-height: 800px;
  padding: 5px;
}
